<section class="instagram-feed">
  <h2>Instagram Feed</h2>
  <ul class="lst-posts">
    <li><a href="#"><img src="assets/img/yoga.png" alt="Yoga"></a></li>
    <li><a href="#"><img src="assets/img/sunrise.png" alt="Sunrise"></a></li>
    <li><a href="#"><img src="assets/img/medic.png" alt="Medic"></a></li>
    <li><a href="#"><img src="assets/img/doctor-1.png" alt="Doctor"></a></li>
    <li><a href="#"><img src="assets/img/yoga.png" alt="Yoga"></a></li>
    <li><a href="#"><img src="assets/img/sunrise.png" alt="Sunrise"></a></li>
    <li><a href="#"><img src="assets/img/medic.png" alt="Medic"></a></li>
    <li><a href="#"><img src="assets/img/doctor-1.png" alt="Doctor"></a></li>
  </ul>
</section>