<header>
    <nav class="conlmtd-main-nav navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="assets/img/wc-logo.png" alt="The Wellness Clinic Logo"></a>
        </div>
        <div class="collapse navbar-collapse nav-links" id="nav-links">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Photos</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
      </div>
    </nav>
</header>
