<footer>
  <div class="conlmtd-contact-loc-time">
    <div class="contact-location">
      <img src="assets/img/wc-logo-white.png" alt="Wellness Clinic Logo"/>
      <span class="location">#26 Franco St, Kali Avenue, Makati City</span>
      <ul class="lst-contact-options">
        <li>Telephone: 63-982-1928</li>
        <li>E-mail : <a href="mailto:info@wellnessclinic.com">info@wellnessclinic.com</a></li>
        <li>Fax : 63- 982-3876</li>
      </ul>
    </div>
    <div class="availability">
      <h3>Hours</h3>
      <ul class="lst-hours">
        <li>Monday 8:30AM - 5:00PM</li>
        <li>Tuesday 8:30AM - 5:00PM</li>
        <li>Wednesday 8:30AM - 5:00PM</li>
        <li>Thursday 8:30AM - 5:00PM</li>
        <li>Friday 8:30AM - 5:00PM</li>
        <li>Saturday Closed</li>
        <li>Sunday Closed</li>
      </ul>
    </div>    
  </div>
</footer>