[class*="conlmtd-"]{

    @media(min-width:992px){
        width: 1140px;
        margin: 0 auto;
    }  
}

[class*="btn"]{
    text-transform: uppercase;
    letter-spacing: 1px;
}

img{width: 100%;}