<section class="main-banner">
  <div class="conlmtd-pitch">
    <div class="pitch">
      <h1>The Perfect Wellness Program</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui accumsan eros maximus semper nec non ligula. Phasellus orci arcu, ornare a odio ut, commodo placerat felis. Donec cursus felis id lobortis aliquam.</h2>
      <div class="actions">
        <button class="btn btn-book-now btn-primary btn-lg">Book Now!</button>
        <button class="btn btn-call-us btn-primary btn-lg">Call Us!</button>
      </div>
    </div>  
  </div>
  <ul class="contact-shortcuts">
    <li><a href="#"  class="skype">Skype Call</a></li>
    <li ><a href="#" class="facebook">Facebook Page</a></li>
    <li ><a href="#" class="twitter">Twitter Page</a></li>
    <li ><a href="#" class="linkedIn">LinkedIn Page</a></li>
  </ul>
</section>