<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Wellness Clinic</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-links">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Photos</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </div>
</nav>
<section class="main-banner">
  <div class="pitch">
    <h1>The Perfect Wellness Program</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a dui accumsan eros maximus semper nec non ligula. Phasellus orci arcu, ornare a odio ut, commodo placerat felis. Donec cursus felis id lobortis aliquam. Maecenas ultrices tellus a ex porttitor ornare. Maecenas gravida in quam quis semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus at varius velit.</h2>
    <div class="actions">
      <button class="btn-book-now">Book Now</button>
      <button class="btn-call-us">Call Us</button>
    </div>
  </div>
  <div class="contact-shortcuts">
    <li class="skype"><a href="#">Skype Call</a></li>
    <li class="facebook"><a href="#">Facebook Page</a></li>
    <li class="twitter"><a href="#"></a>Twitter Page</li>
    <li class="linkedIn"><a href="#"></a>LinkedIn Page</li>
  </div>
</section>
<section class="testimonials">
  <ul class="lst-testimonials">
      <li>
        <h3>“Great wellness program experience, Friendly and very accomodating”</h3>
        <span>-John Doe</span>
      </li>
      <li>
        <h3>“Great wellness program experience, Friendly and very accomodating”</h3>
        <span>-Jane Doe</span>
      </li>
      <li>
        <h3>“Great wellness program experience, Friendly and very accomodating”</h3>
        <span>-John Smith</span>
      </li> 
  </ul>
</section>
<section class="our-services">
  <ul class="lst-services">
    <li>
      <a href="#">
        <img src="#" alt="This is an image">
        <h3>Donec elitu commodo</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="#" alt="This is an image">
        <h3>Donec elitu commodo</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="#" alt="This is an image">
        <h3>Donec elitu commodo</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="#" alt="This is an image">
        <h3>Donec elitu commodo</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="#" alt="This is an image">
        <h3>Donec elitu commodo</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="#" alt="This is an image">
        <h3>Donec elitu commodo</h3>
      </a>
    </li>
  </ul>
</section>
<section class="short-info">
  <img src="#" alt="food-vitamins"/>
  <h2>Vitamin and Mineral Testing & Food Supplements</h2>
  <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ultricies aliquet justo. Suspendisse potenti. Sed facilisis, ex ac molestie vehicula, ligula augue varius turpis, a pellentesque sapien purus id risus. Fusce mauris nisl, finibus et ornare a, vestibulum eu eros. Vivamus leo odio, interdum eget pellentesque quis, luctus pellentesque magna. Nulla posuere mi ligula, mattis bibendum risus rhoncus in. Vivamus ornare sit amet diam vel ultricies. Donec neque tellus, placerat ut convallis sed, blandit quis ipsum. Sed a viverra nibh. Morbi porttitor erat ligula, ut commodo risus aliquam sit amet. Donec tincidunt rhoncus sapien, in tristique ligula vestibulum sit amet. Sed quis mauris vehicula, faucibus ante a, feugiat dui. Praesent orci ligula, efficitur sit amet felis a, dignissim consequat sem. Cras tempus molestie risus sed viverra.</p>
  <p><img src="#" alt="sleeping"> Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ultricies aliquet justo. Suspendisse potenti. Sed facilisis, ex ac molestie vehicula, ligula augue varius turpis, a pellentesque sapien purus id risus. Fusce mauris nisl, finibus et ornare a, vestibulum eu eros. Vivamus leo odio, interdum eget pellentesque quis, luctus pellentesque magna. Nulla posuere mi ligula, mattis bibendum risus rhoncus in. Vivamus ornare sit amet diam vel ultricies. Donec neque tellus, placerat ut convallis sed, blandit quis ipsum. Sed a viverra nibh. Morbi porttitor erat ligula, ut commodo risus aliquam sit amet. Donec tincidunt rhoncus sapien, in tristique ligula vestibulum sit amet. Sed quis mauris vehicula, faucibus ante a, feugiat dui. Praesent orci ligula, efficitur sit amet felis a, dignissim consequat sem. Cras tempus molestie risus sed viverra.</p>
</section>
<section class="instagram-feed">
  <ul class="lst-feed">
    <li><a href="#"><img src="#" alt="An instagram post"></a></li>
    <li><a href="#"><img src="#" alt="An instagram post"></a></li>
    <li><a href="#"><img src="#" alt="An instagram post"></a></li>
    <li><a href="#"><img src="#" alt="An instagram post"></a></li>
    <li><a href="#"><img src="#" alt="An instagram post"></a></li>
    <li><a href="#"><img src="#" alt="An instagram post"></a></li>
  </ul>
</section>
<section class="map-contact">
  <div class="map-locations"></div>
  <div class="contact-form">
    <h2>Contact Us</h2>
    <div class="fieldset">
      <label for="name">Name</label>
      <input type="text">
    </div>
    <div class="fieldset">
      <label for="email">Email</label>
      <input type="text" name="email">
    </div>
    <div class="fieldset">
      <label for="name">Mesage</label>
      <textarea name="message" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="form-actions">
      <button class="btn-send">Send</button>
    </div>
  </div>
</section>
<footer>
  <div class="wc-contact-location">
    <img src="#" alt="Wellness Clinic Logo"/>
    <span class="location">#26 Franco St, Kali Avenue, Makati City</span>
    <ul class="lst-contact-options">
      <li>Telephone: 63-982-1928</li>
      <li>E-mail : info@wellnessclinic.com</li>
      <li>Fax : 63- 982-3876</li>
    </ul>
  </div>
  <div class="availability">
    <ul class="lst-hours">
      <li>Monday 8:30AM - 5:00PM</li>
      <li>Tuesday 8:30AM - 5:00PM</li>
      <li>Wednesday 8:30AM - 5:00PM</li>
      <li>Thursday 8:30AM - 5:00PM</li>
      <li>Friday 8:30AM - 5:00PM</li>
      <li>Saturday Closed</li>
      <li>Sunday Closed</li>
    </ul>
  </div>
</footer>