<section class="our-services">
  <div class="conlmtd-our-services">
    <h2>Our Services</h2>
    <ul class="lst-services">
      <li>
        <a href="#">
          <img src="assets/img/medic.png" alt="Medic">
          <h3>Donec elitu commodo</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/doctor-1.png" alt="Doctor 1">
          <h3>Ipsum samsi nayakio</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/img/doctor-2.png" alt="Doctor 2">
          <h3>Aliguiam Maecenas</h3>
        </a>
      </li>
      <li>
          <a href="#">
            <img src="assets/img/medic.png" alt="Medic">
            <h3>Donec elitu commodo</h3>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/doctor-1.png" alt="Doctor 1">
            <h3>Ipsum samsi nayakio</h3>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/doctor-2.png" alt="Doctor 2">
            <h3>Aliguiam Maecenas</h3>
          </a>
        </li>
    </ul>    
  </div>
</section>