<section class="short-info">
  <div class="conlmtd-info">
    <div class="intro">
        <img src="assets/img/food-vitamins.png" alt="food-vitamins" class="featured-img"/>
        <div class="intro-text">
          <h2>Vitamin and Mineral Testing & Food Supplements</h2>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ultricies aliquet justo. Suspendisse potenti. Sed facilisis, ex ac molestie vehicula, ligula augue varius turpis, a pellentesque sapien purus id risus. Fusce mauris nisl, finibus et ornare a, vestibulum eu eros. Vivamus leo odio, interdum eget pellentesque quis, luctus pellentesque magna. Nulla posuere mi ligula, mattis bibendum risus rhoncus </p>          
        </div>      
    </div>
    <p><img src="assets/img/sleeping.png" alt="sleeping" class="sleeping"> Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ultricies aliquet justo. Suspendisse potenti. Sed facilisis, ex ac molestie vehicula, ligula augue varius turpis, a pellentesque sapien purus id risus. Fusce mauris nisl, finibus et ornare a, vestibulum eu eros. Vivamus leo odio, interdum eget pellentesque quis, luctus pellentesque magna. Nulla posuere mi ligula, mattis bibendum risus rhoncus in. Vivamus ornare sit amet diam vel ultricies. Donec neque tellus, placerat ut convallis sed, blandit quis ipsum. Sed a viverra nibh. Morbi porttitor erat ligula, ut commodo risus aliquam sit amet. Donec tincidunt rhoncus sapien, in tristique ligula vestibulum sit amet. Sed quis mauris vehicula, faucibus ante a, feugiat dui. Praesent orci ligula, efficitur sit amet felis a, dignissim consequat sem. Cras tempus molestie risus sed viverra.</p>    
  </div>
</section>